{{!-- chamada do componente de lista informando os parametros que se´ra plotado na tela --}}
{{!-- people-list title="List of Friends" model=model --}}
<button class="btn-criar" {{action "goCreate"}}>Novo</button>
<hr>
<table class="blueTable">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobre nome</th>
      <th>Data de Amizade</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |friend|}}
       <tr>
           <td>{{ friend.name }}</td>
           <td>{{ friend.lastname }}</td>
           <td>{{ friend.friendsSince }}</td>
           <td>
             {{#link-to "detail" friend.id}}
                   Detalhes
               {{/link-to}}
          </td>
          <td>
               {{#link-to "update" friend.id}}
                   Atualizar
               {{/link-to}}
           </td>
       </tr>
     {{/each}}
  </tbody>
</table>
